.header {
    height: 34vw;
    margin:auto; /* Remove margin to attach header closely to the navbar */
    background: url('/header.png') no-repeat; /* Align image to the left */
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Push contents to the right */
    padding-right: 20%; /* Add some padding to the right */
    position: relative;
}
.header {
    height: 34vw;
    margin: 0 auto; /* Remove margin to attach header closely to the navbar */
    background: url('/header.png') no-repeat;
    background-size: contain;
    
}

.header-contents {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Align items to the right */
    text-align: right; /* Align text to the right */
}

.header-contents p {
    color: green;
    font-weight: bold;
    font-size: 56;
    margin: 0; /* Remove default margin */
}

.header-contents button {
    background-color: green;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px; /* Space between text and button */
}
